{% extends "base.html.twig" %}
{% form_theme commentForm 'bootstrap_4_layout.html.twig'%}

{% block title %}
    Post Show!
{% endblock %}

{% block body %}
<style>
    .posts {
        border-radius: 10px;
        box-shadow: 0 10px 16px rgba(0,0,0,.25);
        margin-bottom: 40px;
        margin-top: 40px;
        padding: 40px;  
    }
    img {
        border-radius: 10px;
    }
</style>


{% for message in app.flashes('success') %}
    <div class="alert alert-success mt-5 text-center">
        {{ message }}
    </div>
{% endfor %}

        <section class="posts">
        <article>
            <h2>{{post.title}}</h2>
            <div class="metadat">   
               {{post.createdAt | date('Y-m-d')}} at {{post.createdAt | date('H:i')}} byjohn
                <span class="badge bg-success">{{post.category.title}}</span>
                {{post.comments | length}} {{(post.comments | length <=1) ? 'comment' : 'comments'}}

            </div>
            <div class="content">
                <img src="https://picsum.photos/seed/picsum/300/200" alt="" class="mt-3 mb-3">
                <p>{{post.title}}</p>
                <a href="{{path('post_edit', {'id':post.id})}}">Edit the post</a>
            </div>
        </article>
    </section>
    <h2 class="mt-5">{{post.comments | length}} {{(post.comments | length <=1) ? 'comment' : 'comments'}}
</h2>
    <section class="mt-5">
        {% for comment in post.comments %}
        <div class="card-header">
            {{comment.author}} <small> {{comment.createdAt | date('Y-m-d')}} at {{comment.createdAt | date('H:i')}}</small>
        </div>
        <div class="card-body">
            <p>{{comment.content}}</p>
            
        </div>
        {% endfor %}
    </section>
    <hr>
    <h2>Add Comment</h2>
    {{form_start(commentForm)}}
    {{form_widget(commentForm)}}
    
    <button class="btn btn-success mt-5">Add Comment</button>

    {{form_end(commentForm)}}
{% endblock %}